html {
    margin-top: -10px;
    margin-left: -10px;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

@media screen and (max-width: 700px) {
  
}
header > div{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    
}

header{
  background-color: black;
}

.headeri > input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 10px;
  }

.top-row{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    line-height: 10px;
    margin-top: 10px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10px;
}

.nav-bar{
    background-color: black;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    display: inline;
    justify-content:center;
    padding-right: 50px;
    padding-left: 50px;
    border-right: 2px solid #fff;
}

.nav-ul{
    list-style-type: none;
    background-color: black;
    padding: 20px;
    margin-top: -8px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-btn{
    text-decoration: none;
}


.nav-btn:link {
    color: white;
  }
  
  .nav-btn:visited {
    color: white;
  }

  .nav-btn:hover {
    color: gray;
  }

  .nav-btn:active {
    color: black;
  }

  .nav-btn.highlight:hover {
    color: #ff0000;
  }

  a {
    color: black;
  }

  .bgfoto{
    background-image: url(images/bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin-top: -20px;
  }

  .butoni_bg  {
    background-color:#599bb3;
    border-radius:28px;
    border:1px solid #29668f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
  }

  #login-txt{
    text-align: center;
  }

  .btn-login  {
    background-color:black;
    border-radius:28px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:10px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    
  }

  .center{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .bgteksti{
    font-size: 35px;
    color: white;
    margin-right: 400px;
  
  }
  .butoni_bg:hover {
    background-color:#408c99;
  }
  .butoni_bg:active {
    position:relative;
    top:1px;
  }

@media screen and (max-width: 1076px) {
  .nav-bar{
    font-size: 13px;
  }
}

@media screen and (max-width: 630px) {
  span{
    font-size: 30px;
  }
  .bgteksti > div {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {

  span {
    font-size: 65px;
  }
}
.features{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  background-color: white;
  font-size: 12px;
}


hr{
  width: 20px;
  text-align: left;
  font-weight: bold;
}

.container {
  display: flex;
  padding: 10px;
  width: 60%;
  margin: auto;
  justify-content: center;
}

.product-grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgray;
  justify-content: center;
  margin-top: 5px;
}

.product-card {
  display: block;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 60%;
  height: 80%;
}

.product-card:hover{
  transform: scale(1.05);

}
.product-image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 11px;
  text-align: left;
  height: 18%;
  
}

.product-discount {
  text-decoration:line-through;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.product-price {
  color: #333;
  text-align: center;
}

label{
  color: white;
}

.white-text{
  color: white;
}

.title-width{
  height: 25%;
}

.bg-gray{
  margin-top: 0px;
  font-size: 45px;
  padding: 20px;
  border-radius: 20px;
} 
.addtocart{
  margin-top: 20px;
  text-align: center;
}
.btn-addtocart {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  transition: background-color 0.3s ease-in-out;
}

.btn-addtocart:hover{
  background-color: #45a049;
}


form {
  margin-top: 50px;
  background-color: black;
  padding: 40px;
  padding-right: 30%;
  padding-left: 30%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 35%;
  height: 300px;
}

h1 > form{
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

input[type="text"],
input[type="email"],
select,
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 8px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  margin-bottom: 16px;
}

.success {
  color: #008000;
  margin-bottom: 16px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  text-align: center;
  height: 300px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
}

.ff {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.footer-left{
  color: black;
  text-align: left;

}

.footer-center{
  text-align: center;
}

.footer-right{
  color: black;
}

.col{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}


.cat-button {
	background-color:transparent;
  border: 0;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.cat-button:hover {
	background-color:transparent;
}
.cat-button:active {
	position:relative;
	top:1px;
}
